KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
    $(ARCHDIR)/boot.o \
    $(ARCHDIR)/tty.o \
    $(ARCHDIR)/ssp.o \
    $(ARCHDIR)/interrupts/gdt.o \
    $(ARCHDIR)/interrupts/idt.o \
    $(ARCHDIR)/interrupts/isr.o \
    $(ARCHDIR)/x86.o \
    $(ARCHDIR)/io.o \
    $(ARCHDIR)/timer.o \
    $(ARCHDIR)/drivers/kbd.o \
    $(ARCHDIR)/drivers/table.o \
    $(ARCHDIR)/memory/manager.o \
    $(ARCHDIR)/memory/bitmap.o